header {
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome {
  background-color: #feb614;
  color: white;
  padding: 30px;
  position: absolute;
  left: 0px;
  top: 30%;
}

.banner h2 {
  font-size: 74px;
}

.banner span {
  font-size: 1.3em;
}
